.report-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.report-button,
.excel-button,
.past-reports-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
  color: white;
}

.report-button:hover,
.excel-button:hover,
.past-reports-button:hover {
  opacity: 0.9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.past-reports-button {
  background-color: #F1A7B1;
  color: white;
}

.past-reports-button:disabled {
  background-color: #d4d4d4;
}
